name: Project Build

on:
  push:

env:
  SOLUTION_NAME: 'MetaMaskDownloadManager.sln'

jobs:
  build:
    strategy:
      matrix:
        framework: ["net8.0"]
        
    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Build Solution
      run: dotnet build ${{ env.SOLUTION_NAME }} --framework ${{ matrix.framework }} --property WarningLevel=0