name: Validate Branch Name

on:
  pull_request:
    branches:
      - main

jobs:
  check-branch-name:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        run: |
          if [[ ! "${{ github.head_ref }}" =~ ^(major|feature|fix) ]]; then
            echo "Branch name must start with 'major', 'feature', or 'fix'."
            exit 1
          fi